<h1 class="title">{{ title }}</h1>

<div *ngIf="!displayEdit" class="modal">
  <p id="name">Name:{{ displayItem.name }}</p>
  <p id="age">Age: {{ displayItem.age }}</p>
  <p id="color">Favorite Color: {{ displayItem.favoriteColor }}</p>
  <p>Favorite Animal: {{ displayItem.favoriteAnimal }}</p>
  <button (click)="toggleEdit()" class="btn">Toggle Edit</button>
</div>

<div *ngIf="displayEdit" class="modal">
  <label for="name">Name:</label>
  <input id="name" [(ngModel)]="displayItem.name" />
  <br />
  <label for="age">Age:</label>
  <input id="age" [(ngModel)]="displayItem.age" />
  <br />
  <label for="color">Favorite Color:</label>
  <input id="color" [(ngModel)]="displayItem.favoriteColor" />
  <br />
  <label for="animal">Favorite Animal:</label>
  <select name="animal" id="animal" [(ngModel)]="displayItem.favoriteAnimal">
    <option value="Dog">Dog</option>
    <option value="Cat">Cat</option>
    <option value="Reptile">Reptile</option>
    <option value="Bird">Bird</option>
  </select>
  <br />
  <button (click)="toggleEdit()" class="btn">Toggle Edit</button>
</div>
